* {
    font-family: "Noto Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 38;
	background-image: none;
	transition: 20ms;
}
window {
	background-color: rgba(11, 13, 14, 0.4);
}
button {
    color: #FFFFFF;
	background-color: rgba(11, 13, 14, 0.4);
	border-style: solid;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus, button:active {
	background-color: rgba(11, 13, 14, 0.4);
	outline-style: none;
}

button:hover {
	background-color: rgba(11, 13, 14, 0.6);
	outline-style: none;
}

#lock {
	margin: 20px;
	border-radius: 30px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 20px;
	border-radius: 30px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 20px;
	border-radius: 30px;
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	margin: 20px;
	border-radius: 30px;
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	margin: 20px;
	border-radius: 30px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 20px;
	border-radius: 30px;
	background-image: image(url("icons/reboot.png"));
}
